/* Button Styles */
.Button {
    display: block;
    height: 125px;
    width: 125px;
    background: #65A954;

    color: rgba(0, 0, 0, 0.55);
    text-align: center;
    position:relative;
    margin: 0px auto 0px auto; 

    font: bold 3.2em/80px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    
    -webkit-border-radius: 62px;
    -khtml-border-radius: 62px;
    -moz-border-radius: 62px;
    border-radius: 62px;

    -webkit-box-shadow: 0 8px 0 #000000;
    -moz-box-shadow: 0 8px 0 #000000;
    box-shadow: 0 8px 0 #000000;

    padding: 0px;
}

/*Step 3: Link Styles*/
.Button a {
    text-decoration: none;
}

/*Step 5: Hover Styles*/
.Button:hover {
    vertical-align: top;
    padding-top: 1px;
}

.Button:active {
    vertical-align: top;
    padding-top: 8px;
}


/* @end */

.clearFloat { clear: both; }

.aligned {
    position:relative;
    display:inline-block;
    padding: 0px 20px; 
}

#clear {clear: both;}

#exclamButton {
    height: 125px;
    width: 125px;
    background-image: url(resources/surprise.png);
}

#questButton {
    height: 125px;
    width: 125px;
    background-image: url(resources/confuse.png);    
}

#sadButton {
    height: 125px;
    width: 125px;
    background-image: url(resources/sadicon.png);
}

#happyButton {
    height: 125px;
    width: 125px;
    background-image: url(resources/happyicon.png);
}